<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/account.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Young+Serif&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/21c6db8c84.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/nav') %>
  <header id="account-header">
    <img src="./images/account.png" alt="image of avatar and a shield with a checkmark">
    <div id ="header-user">
      <h1><%- username %></h1>
      <h2>
        <% if (is_seller) { %>
          Seller  <i class="fa-solid fa-money-check-dollar" style="color: #1e3050;"></i>
        <% } else { %>
          Buyer <i class="fa-solid fa-cart-shopping" style="color: #1e3050;"></i>
        <% }; %>
      </h2>
    </div>
  </header>
  <main id="account-main">
    <% if (is_seller) { %>
      <!--Profile-->
      <section class="profile">
        <img src="../images/account-avatar.png" alt="default avatar">
        <div class="right-bio">
          <h2>Bio</h2>
          <p>Short description about the person.</p>
          <ul>
            <li>E-mail: <%= userInfo.email %></li>
            <li>Name: <%= userInfo.name %></li>
            <li>Location: <%= userInfo.location %></li>
          </ul>
          <form action="/logout" method="POST" style="text-align: center;">
            <button type="submit">Logout</button>
          </form>
        </div>
      </section>
      <!--Transaction Log-->
      <section class="transaction-log">
        <h2>Transactions Log</h2>
        <table>
          <tr>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Purchase Date</th>
            <th>Amount</th>
          </tr>
              <% mySalesLog.forEach(transaction => { %>
                <tr>
                <td>
                  <%= transaction.seller_id %>
                </td>
                <td>
                  <%= transaction.buyer_id %>
                </td>
                <td>
                  <%= transaction.purchase_date %>
                </td>
                <td>
                  <%= transaction.final_cost %>
                </td>
                </tr>
              <% }); %>
              <% myBuyLog.forEach(transaction => { %>
                <tr>
                <td>
                  <%= transaction.seller_id %>
                </td>
                <td>
                  <%= transaction.buyer_id %>
                </td>
                <td>
                  <%= transaction.purchase_date %>
                </td>
                <td>
                  <%= transaction.final_cost %>
                </td>
                </tr>
              <% }); %>
        </table>
      </section>
      <!--Reviews-->
      <section id="reviews">
        <h2>Reviews</h2>
        <% myReviews.forEach(review => { %>
          <article>
            <h3>Rating: <%= review.rating %> <i class="fa-solid fa-star" style="color: #1e3050;"></i></h3>
            <p><strong>Listing:</strong> <a href="<%= '/listings/' + review.id %>"><%= review.title %></a></p>
            <p><strong>Message:</strong> <%= review.message %></p>
            <p><strong>Transaction number:</strong> <%= review.transaction_id %></p>
          </article>
        <% }); %>
      </section>
      <!--Sellers Listings-->
      <section id="sellers-listings">
        <h2>My Listings</h2>
        <ul>
          <% myListings.forEach(listing => { %>
            <div class="listing-tile" style = "border: 1px solid black; margin: 5px; padding:5px">
              <img src = <%= listing.photo_url %>>
              <h2><%= listing.title %> <i class="fa-solid fa-tag" style="color: #1e3050;"></i></h2>
              <p><strong>Price:</strong> $<%= listing.price %></p>
              <p><strong>Description:</strong> <%= listing.description %></p>
              <p><a href="/listings/<%= listing.id %>">Go to listing</a></p>
              <p><strong>Date Listed:</strong> <%= listing.date_listed %></p>
              <p><strong>Is Active:</strong> <%= listing.is_active ? 'Yes' : 'No' %></p>
              <form class="form-sold" action="/update" method="POST">
                <button class="active-button" action="/is-active" method="POST">
                <p class="active">Active</p>
                <p class="sold">SOLD!</p>
              </button>
              </form>
            </div>
          <% }); %>
        </ul>
      </section>
      <% } else { %>
      <section class="profile">
        <img src="../images/avatar-buyer.png" alt="default avatar">
        <div class="right-bio">
          <h2>Bio</h2>
          <p>Short description about the person.</p>
          <ul>
            <li>E-mail: <%= userInfo.email %></li>
            <li>Name: <%= userInfo.name %></li>
          </ul>
          <form action="/logout" method="POST" style="text-align: center;">
            <button type="submit">Logout</button>
          </form>
        </div>
      </section>
      <section class="transaction-log">
        <h2>Transactions Log</h2>
        <table>
          <tr>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Purchase Date</th>
            <th>Amount</th>
          </tr>
              <% myBuyLog.forEach(transaction => { %>
                <tr>
                <td>
                  <%= transaction.seller_id %>
                </td>
                <td>
                  <%= transaction.buyer_id %>
                </td>
                <td>
                  <%= transaction.purchase_date %>
                </td>
                <td>
                  <%= transaction.final_cost %>
                </td>
                </tr>
              <% }); %>
        </table>
      </section>
    <% }; %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>
