<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Listings page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/listings.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Young+Serif&display=swap" rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/21c6db8c84.js" crossorigin="anonymous"></script>
</head>
<body>

  <nav>
    <div id="left-nav">
      <a href="/" id="home"><img class="logo" src="./images/logo.png" alt="profile image"></a>
      <span class="website-name">programmer.com</span>
    </div>
    <div id="right-nav">
      <div id="search">
        <form action="/search" method="get">
          <label for="search">Search:</label>
          <input type="text" id="search" required>
          <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <a href="/create-listing" id="create-listing">Create Listing</a>
      <a href="/listings" id="listings">Listings</a>
      <a href="/favorites" id="favorites">Favorites</a>
      <a href="/login" id="login">Login</a>
      <a href="/login" id="join">Join</a>
      <a href="/account" id="account">Account</a>
    </div>
  </nav>


  <header>
    <img src="./images/listings.png" alt="image of woman on computer">
    <h1>Looking for a Programmer? <br>
        Connect with independant Talent <br>
        Today!
    </h1>
  </header>

    <main>
        <section id="search-listings">
            <h2 id="searchbar-title">Search</h2>
            <form action="" method="">
              <input type="search" id="searchbar-listings" name="searchbar-listings" placeholder="Search service listings here...">

              <div class="price-range-slider">
                <input type="range" min="0" max="1000" value="0" step="10" id="price-slider">
                <span id="price-display">$0</span>
              </div>
            </form>

        </section>

        <section id="listings-search-results">
            <h2>listings results section</h2>
            <p>search results for listings will render here</p>
             <% listings.forEach(listing => { %>
              <div class="listing-tile" style = "border: 1px solid black; margin: 5px; padding:5px">
                <img src = <%= listing.photo_url %>>
                <h2><%= listing.title %></h2>
                <p>Price: $<%= listing.price %></p>
                <p>Description: <%= listing.description %></p>
                <p>Details: <a href="/listings/<%= listing.id %>">Read more</a></p>
                <p>Date Listed: <%= listing.date_listed %></p>
                <p>Is Active: <%= listing.is_active ? 'Yes' : 'No' %></p>
              </div>
            <% }); %>
        </section>
    </main>

    <footer>
      <img class="logo" src="./images/logo.png" alt="profile image">
      <p>Something <i class="fa-solid fa-fish" style="color: #1e3050;"></i> ? Let us know: report@programmer.com</p>
    </footer>
</body>
</html>







