<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Listing id: <%= listing.id %></p>
  <p>Listing seller id: <%= listing.seller_id %></p>
  <p>Listing title: <%= listing.title %></p>
  <p>Listing price: <%= listing.price %></p>
  <p>Listing description: <%= listing.description %></p>
  <p>Listing date listed: <%= listing.date_listed %></p>
  <p>Listing active?: <%= listing.is_active %></p>
</body>
</html>
