<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Listings page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/listings.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Young+Serif&display=swap" rel="stylesheet">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/21c6db8c84.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/nav') %>
  <header id="listings-header">
    <img src="./images/listings.png" alt="people searching with telescopes">
    <h1>Looking for a programmer? Connect with independent talent today!</h1>
  </header>

  <main id="listings-main">
    <!--search parameters section-->
    <section id="search-listings">
      <h2 id="searchbar-title">Advanced Search</h2>
      <form action="/listings" method="GET">
        <input type="search" id="search-term" name="search-term" placeholder="Search listings...">
        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <!-- additional search fields -->
        <div class = "description-field">
          <label for="description">Description (optional):</label>
          <input type="text" id="description" name="description" placeholder="Description">
        </div>
        <div class = "seller-name-field">
          <label for="seller-name">Seller name (optional):</label>
          <input type="text" id="seller-name" name="seller-name" placeholder="Seller name">
        </div>
        <!--price slider-->
        <div class="price-range-slider">
            <label for="price-slider-min">Maximum Price:</label>
            <input type="range" min="0" max="1000" value="0" step="10" id="price-slider-min" name = "price-slider-min"
              oninput="document.getElementById('price-display-min').textContent = '$' + this.value;">
            <span id="price-display-min">$0</span>
        </div>
        <!--price slider-->
        <div class="price-range-slider">
            <label for="price-slider-max">Maximum Price:</label>
            <input type="range" min="0" max="1000" value="1000" step="10" id="price-slider-max" name = "price-slider-max"
              oninput="document.getElementById('price-display-max').textContent = '$' + this.value;">
            <span id="price-display-max">$1000</span>
        </div>

      </form>
    </section>

    <section id="listings-search-results">
      <h2>Results :</h2>
      <% listings.forEach(listing => { %>
        <div class="listing-tile" id="listing-<%= listing.id %>">
          <img src = <%= listing.photo_url %>>

          <!--favorite listing toggle button-->
          <button class="favorite-button" action="/favorite-listing" method="POST">
            <p class="add">Add to Favorites</p>
            <p class="added">Added to Favorites</p>
            <i class="fa-solid fa-heart"></i>
          </button>

          <!--listing details-->
          <div class="details">
            <h2><%= listing.title %></h2>
            <p>Price: $<%= listing.price %></p>
            <p>Description: <%= listing.description %></p>
            <p>Details: <a href="/listings/<%= listing.id %>">Read more</a></p>
            <p>Date Listed: <%= listing.date_listed %></p>
            <p>Is Active: <%= listing.is_active ? 'Yes' : 'No' %></p>
          </div>
        </div>
      <% }); %>
    </section>

  </main>
  <%- include('partials/footer') %>
</body>
</html>
